<html>
<head>
<title>WakeKill</title>
<link href="/static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
	<h1>Ambient Intelligence 2015</h1>
	<p class="welcome">Welcome {{ session['user'] }} to the WakeKill project.</p>
	<p>
		<img src="{{ url_for('static', filename='rooster.jpg') }}">
	</p>

	<div class="loginarea">
	<form action="{{ url_for('login') }}" method='POST'>
	{% if session.user %}
	Check your alarms | <a href="{{ url_for('logout') }}">Logout</a>
	{% else %}
	Enter name: <input type='text' name='user'> <input type='submit' value='Submit'></form>
	{% endif %}
	</div>
	<div class="footer">&copy; <a href="{{ url_for('about') }}">SmartRooster</a></div>
</body>
</html>